@theme {

    --font-mono: 'Jetbrains Mono', monospace;
    --font-sans: 'Nunito Sans', sans-serif;

    --color-page-background: #ffffff;
    --color-card-background: #fbfafb;
    --color-code-background: #f1f5f9;

    --color-primary-text: #0f1628;
    --color-secondary-text: #67768d;
    --color-accent-text: #3d82f6;

    --color-border-default: #e2e8f0;
}